{% extends "layouts/master.html" %}
{% set current_page = 'index' %}

{% block title %}xCharts{% endblock %}

{% block page_content %}

<div class="row guttered">
  <div class="span9">
    <p>xCharts is a JavaScript library for building beautiful and custom data-driven chart visualizations for the web using <a target="_blank" href="http://d3js.org">D3.js</a>. Using HTML, CSS, and SVG, xCharts are designed to be dynamic, fluid, and open to integrations and customization.</p>
  </div>
  <ul class="span3 multi">
    <li><button class="toggled" data-type="line-dotted">Line</button></li>
    <li><button data-type="cumulative">Cumulative</button></li>
    <li><button data-type="bar">Bar</button></li>
  </ul>
</div>
<figure class="demo" id="chart"></figure>

<ul class="row guttered opts">
  <li class="span4"><a href="{{ baseurl }}/examples/">Examples</a></li>
  <li class="span4 download"><a target="_blank" href="{{ baseurl }}/xcharts-build.tar.gz" class="btn cta">Download xCharts.js</a></li>
  <li class="span4"><a href="{{ baseurl }}/docs/">Documenation</a></li>
</ul>

<script>
(function () {
var data = {{ data|json_encode|raw }};
var order = [0, 1, 0, 2],
  i = 0,
  xFormat = d3.time.format('%A'),
  chart = new xChart('line-dotted', data[order[i]], '#chart', {
    axisPaddingTop: 5,
    dataFormatX: function (x) {
      return new Date(x);
    },
    tickFormatX: function (x) {
      return xFormat(x);
    },
    timing: 1250
  }),
  rotateTimer,
  toggles = d3.selectAll('.multi button'),
  t = 3500;

function updateChart(i) {
  var d = data[i];
  chart.setData(d);
  toggles.classed('toggled', function () {
    return (d3.select(this).attr('data-type') === d.type);
  });
  return d;
}

toggles.on('click', function (d, i) {
  clearTimeout(rotateTimer);
  updateChart(i);
});

function rotateChart() {
  i += 1;
  i = (i >= order.length) ? 0 : i;
  var d = updateChart(order[i]);
  rotateTimer = setTimeout(rotateChart, t);
}
rotateTimer = setTimeout(rotateChart, t);
}());
</script>

{% endblock %}
